 <!-- Hero Section -->

 <section class="hero relative p-8">
        
    <div class="container mx-auto flex items-center justify-between">
        <div class="left w-1/2">
            <h1 class="text-6xl mb-4">Premium Quality food for your healthy and daily life.</h1>
            <button class="button font-bold">Order Now</button>
        </div>
        <div class="right w-1/2">
            <img src="/img/hero-img.svg" alt="pizza">
        </div>
        
    </div>
</section>

<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">
        Menu Items
    </h1>
    <div class="grid grid-cols-4 gap-[4vw]">
        <div class="w-64 py-2">
            <img src="/img/menu-item.jpg" class="h-40 mb-4 mx-auto" alt="item">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="w-64">
            <img src="/img/menu-item.jpg" class="h-40 mb-4 mx-auto" alt="item">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/menu-item.jpg" class="h-40 mb-4 mx-auto" alt="item">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/menu-item.jpg" class="h-40 mb-4 mx-auto" alt="item">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/menu-item.jpg" class="h-40 mb-4 mx-auto" alt="item">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/menu-item.jpg" class="h-40 mb-4 mx-auto" alt="item">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/menu-item.jpg" class="h-40 mb-4 mx-auto" alt="item">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/menu-item.jpg" class="h-40 mb-4 mx-auto" alt="item">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Dosa</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">Full</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
    
    </div>
</section>
