<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/browse/tailwindcss@2.0.1/dist/tailwind.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1 class="text-white">Hello from homepage once again.</h1>
    
    <script src="/js/app.js"></script>
</body>
</html>