@import './variables'; //partial file 
*{
    margin: 0;
    padding: 0;
    background-origin: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

// navbar
nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}
nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}


.primary{
    color: $primary;
}

.button{
    padding: 10px 15px;
    background: $primary;
    outline: none;
    color: #fff;
    border-radius: 25px;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}
section.login{
    background-color: $secondary;
    height: calc(100vh - 100px);
}
section.login .login-btn{
    background: $primary;
    padding: 10px 15px;
    background: $primary;
    color: #fff;
    border-radius: 15px;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}
section.hero{
    background: $secondary;
}
// section.hero:after{
//     content: "";
//     background: $primary;
//     filter: blur(5px);

//     width: 9vw;
//     height: 9vw;
//     border-radius: 50%;
//     position: absolute;
//     top: 60%;
//     left: 30%;
//     z-index: 0;
//     animation: anime 3s linear infinite alternate;
// }
// @keyframes anime {
//     from{
//         transform: translate(-10%, -10%);
//     }
//     to{
//         transform: translate(10%, 10%);
//     }
    
// }
.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border: $pure;
        color: $pure;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
    .cart-button{
        background: $primary;
        color: $pure;
    }
}



